<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanst.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".core.RyanstApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="573140f1e0f55ac68f003d46" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}" />

        <meta-data
            android:name="com.tal.app.seaside.MyGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".core.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ScrollViewListViewActivity"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.ServiceTestActivity"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.LeakTestActivity"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.NavigationBarTestActivity"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.GlideActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.PermissionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.WebviewErrorActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name=".activity.HandlerTestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.DataBindingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.HandlerThreadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.TabLayoutViewPagerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.PhotoCameraActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.TabFragmentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.SpinnerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.NavigationDrawerActivity"
            android:theme="@style/AppTheme.Translucent"></activity>

        <activity
            android:name=".activity.NetChangeBroadcastReceiverActivity"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.ScheduleTaskActivity"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity
            android:name=".activity.TextViewLetterSpacingActivity"
            android:theme="@style/AppTheme.Translucent"></activity>

        <activity
            android:name=".activity.CustomViewActivity"
            android:theme="@style/AppTheme.Translucent"></activity>

        <activity
            android:name=".activity.WheelViewActivity"
            android:theme="@style/AppTheme.Translucent"></activity>

        <activity
            android:name=".activity.RxJavaTestActivity"
            android:theme="@style/AppTheme.Translucent"></activity>

        <activity
            android:name=".widget.GistActivity"
            android:theme="@style/AppTheme.Translucent"></activity>

        <service android:name="com.ryanst.app.widget.MyService"></service>

        <service android:name="com.ryanst.app.widget.MyIntentService"></service>
    </application>

</manifest>