<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanst.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.ryanst.app.RyanstApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name="com.ryanst.app.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ryanst.app.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.ryanst.app.activity.GlideActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.ryanst.app.activity.PermissionActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.ryanst.app.activity.WebviewErrorActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name="com.ryanst.app.activity.HandlerActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.ryanst.app.activity.DataBindingActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.ryanst.app.activity.HandlerThreadActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.ryanst.app.activity.TabLayoutViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.ryanst.app.activity.PhotoCameraActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="573140f1e0f55ac68f003d46" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

    </application>
</manifest>
